{% extends 'base.html.twig' %}
{% block body %}
    <section class="world-map">
        <div class="world-container">
            <img src="{{ asset('build/images/World_map.svg.png') }}" alt="">
        </div>
    </section>
{% endblock body %}